<form (ngSubmit)="handleSubmit()" [formGroup]="form">
  <div class="input-container">
    <legend>Expense registration form</legend>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Month</mat-label>
        <mat-select [formControl]="form.controls.month">
          <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.month.hasError('required')">This field is required!</mat-error>

      </mat-form-field>

    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Outcome type</mat-label>
        <input [formControl]="form.controls.outcomeType" matInput placeholder="Type of outcome" type="text">
      </mat-form-field>
      <mat-error *ngIf="form.controls.outcomeType.hasError('required')">This field is required!</mat-error>

    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Expense amount</mat-label>
        <input [formControl]="form.controls.expenseAmount" matInput placeholder="Amount of expense" type="text">
      </mat-form-field>
      <mat-error *ngIf="form.controls.expenseAmount.hasError('required')">This field is required!</mat-error>

    </div>

    <div>
      <button mat-button type="submit">Submit</button>
    </div>

  </div>

</form>
