<form (ngSubmit)="handleSubmit()" [formGroup]="form">
  <div class="input-container">
    <legend>Expense registration form</legend>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Month</mat-label>
        <mat-select [formControl]="monthCtrl">
          <mat-option *ngFor="let month of months | keyvalue" [value]="month.value">{{month.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="monthCtrl.hasError('required')">
          This field is required!
        </mat-error>

      </mat-form-field>

    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Outcome type</mat-label>
        <input [formControl]="outcomeTypeCtrl" matInput placeholder="Type of outcome" type="text">
      </mat-form-field>
      <mat-error *ngIf="outcomeTypeCtrl.touched && outcomeTypeCtrl.hasError('required')">This field
        is required!
      </mat-error>

    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Expense amount</mat-label>
        <input [formControl]="expenseAmountCtrl" matInput placeholder="Amount of expense" type="text">
      </mat-form-field>
      <mat-error *ngIf="expenseAmountCtrl.touched && expenseAmountCtrl.hasError('required')">This
        field is required!
      </mat-error>

    </div>

    <div>
      <button mat-button type="submit">Submit</button>
    </div>

  </div>
</form>



