<h1 mat-dialog-title>{{dataToDisplay.title}}</h1>
<div mat-dialog-content>
  <ng-container *ngIf="dataToDisplay.dataToDisplay as data">
    <ngx-charts-pie-chart [results]="data"></ngx-charts-pie-chart>
  </ng-container>

</div>

<app-register-outcome-form (formDataEmitted)="handleDataEmitted($event)"
                           [selectedMonth]="dataToDisplay.name">
</app-register-outcome-form>

<div mat-dialog-actions>
  <button (click)="closeDialog()" mat-button>Close</button>
  <button cdkFocusInitial mat-button>Ok</button>
</div>


