<mat-drawer-container class="nav-container">
    <mat-drawer
        mode="side"
        opened
    >
    </mat-drawer>
    <mat-drawer-content>
        <button
            mat-raised-button
            routerLink="vertical-chart"
        >
            Vertical chart
        </button>
    </mat-drawer-content>
    <mat-drawer-content>
        <button
            mat-raised-button
            routerLink="pie-chart"
        >
            Pie chart
        </button>
    </mat-drawer-content>

</mat-drawer-container>

<div class="view-container">
    <router-outlet></router-outlet>

</div>
