<ngx-charts-bar-vertical
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  (select)="onSelect($event)"
  [gradient]="config.gradient"
  [legend]="config.showLegend"
  [results]="resultData"
  [showDataLabel]="true"
  [showXAxisLabel]="config.showXAxisLabel"
  [showYAxisLabel]="config.showYAxisLabel"
  [view]="[700, 400]"
  [xAxisLabel]="config.xAxisLabel"
  [xAxis]="config.showXAxis"
  [yAxisLabel]="config.yAxisLabel"
  [yAxis]="config.showYAxis"
>
</ngx-charts-bar-vertical>
