<!--<app-vertical-bar></app-vertical-bar>-->
<div class="row">
  <!-- [scheme]="colorScheme" -->
  <div *ngIf="incomeData$ | async as resultData">
    <ngx-charts-bar-vertical
      (activate)="onActivate($event)"
      [gradient]="gradient"
      [legend]="showLegend"
      [matTooltipPosition]="'above'"
      [matTooltip]=toolTipTemplate
      [results]="resultData"
      [showDataLabel]="true"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [view]="[700, 400]"
      [xAxisLabel]="xAxisLabel"
      [xAxis]="showXAxis"
      [yAxisLabel]="yAxisLabel"
      [yAxis]="showYAxis"

    >
    </ngx-charts-bar-vertical>


  </div>
</div>
